*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container {
    flex-basis: 35%;
}

.logo-container img {
    display: block;
    height: auto;
    width: 50%;
}
button.joins {
    margin-left: 22px;
    border: 1px solid #35c2ec;
    color: #35c2ec;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #35c2ec;
    width: 156px;
    height: 33px;
    outline: none;
}

.container1 {
    display: flex;
    justify-content: space-around;
    background-color: #35c2ec;
    height: 70px;
    padding-top: 13px;
}
ul.portal-list li {
    list-style: none;
    margin-right: 20px;
    color: white;
    font-weight: 300;
    font-size: 13px;
}

ul.portal-list {
    display: flex;
    position: relative;
    top: 15px;
}
.cleaner h4 {
    color: white;
    font-weight: 900;
    font-size: 25px;
}
span i {
    position: relative;
    left: -6px;
}

.rounded {
    position: relative;
    top: 60px;
    left: 100px;
}

.rounded img {
    width: 18%;
}
.cleaners {
    flex: 1;
    position: relative;
    overflow: hidden;
    min-height: 56px;
}

.cleaners h5 {
    font-size: 53px;
}

.cleaners h5 {
    font-size: 60px;
    font-weight: bold;
    margin-left: 22px;
}

p.eva {
    font-size: 31px;
    color: #626262;
    font-weight: 900;
    margin-left: 26px;
}


i.fa.fa-star {
    position: relative;
    left: 20px;
    color: #fdd043;
}

.johns {
    float: right;
    position: relative;
    top: -59px;
    left: 203px;
}

span.reviews {
    font-size: 16px;
    display: inline-flex;
    position: relative;
    /* top: -6px; */
    /* margin-left: 13px; */
}
p.checks {
    font-size: 18px;
    font-weight: bold;
    color: #6f6f6e;
    margin-left: 26px;
}
i.fa.fa-check {
    display: inline-flex;
    position: relative;
    left: 10px;
    color: #35c2ec;
    font-size: 23px;
    top: 2px;
}
p.checks1 {
    font-size: 16px;
    font-weight: 300;
    color: #6f6f6e;
    margin-left: 26px;
}
.btns-ones {
    margin-left: 26px;
}
button.btn1 {
    width: 174px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #35c2ec;
    font-size: 16px;
    font-weight: bold;
}
button.btn2.btn-default {
    width: 212px;
    height: 45px;
    outline: none;
    border: none;
    color: white;
    background: #35c2ec;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 16px;
}
.btns-two {
    margin-top: 16px;
    
}
button.btn11 {
    width: 127px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #35c2ec;
    font-size: 16px;
    font-weight: bold;
    margin-right: 13px;
}
section.portls {
    background: #f9f8f4;
}

.footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#dbdbdb;
    color: #959494;
    text-align: center;
    padding: 10px 0px;
    font-size: 12px;
 }
#calendar{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    font-family: 'Lato', sans-serif;
  }
  #calendar_weekdays div{
    display:inline-block;
    vertical-align:top;
  }
  #calendar_content, #calendar_weekdays, #calendar_header{
    position: relative;
    width: 320px;
    overflow: hidden;
    float: left;
    z-index: 10;
  }
  #calendar_weekdays div, #calendar_content div{
    width:40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
  }
  #calendar_content{
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px; 
    border-radius: 0px 0px 12px 12px;
  }
  #calendar_content div{
    float: left;
  }
  #calendar_content div:hover{
    background-color: #F8F8F8;
  }
  
  #calendar_header, #calendar_content div.today{
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
  }
  #calendar_content div.today{
    color: #FFFFFF;
  }
  #calendar_header{
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #FF6860;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px; 
    border-radius: 12px 12px 0px 0px;
  }
  #calendar_header h1{
    font-size: 1.5em;
    color: #FFFFFF;
    float:left;
    width:70%;
  }
  i[class^=icon-chevron]{
    color: #FFFFFF;
    float: left;
    width:15%;
    border-radius: 50%;
  }
  img.col-sm-2.p-5.p-sm-0.pr-sm-3 {
    width: 150px;
}
img.col-sm-2.p-5.p-sm-0.pr-sm-3 {
    margin: 19px 0px;
}

section.portls {
    padding: 60px 60px;
}
.portls:before {
    content: '';
    background: url(../img/dots.png);
    background-size: auto;
    position: absolute;
    height: 230px;
    width: 156px;
    background-repeat: no-repeat;
    right: 0px;
    z-index: 9999999;
    bottom: 0px;
    top: 497px;
}
.btns-one {
    display: flex;
    padding: 10px 27px;
}
button.btn21.btn-default {
    width: 260px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #35c2ec;
    font-size: 16px;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    /*.media {
      
        display: unset !important;
       
    }*/
    section.portls {
        padding: 55px 0px !important;
    }
    table {
       
        width: auto  !important;
    }
  
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .logo-container img {
        display: block;
        height: auto;
        width: 83%;
    }

    button.joins {
        margin-left: 22px;
        border: 1px solid #35c2ec;
        color: #35c2ec;
        background-color: white;
        border-radius: 25px;
        border: 2px solid #35c2ec;
        width: 134px;
        height: 24px;
        outline: none;
        font-size: 13px;
    }

    ul.portal-list li {
        list-style: none;
         margin-right: 8px;
        color: white;
        font-weight: 300;
        font-size: 6px;
    }
    .container1 {
        display: flex;
        justify-content: space-around;
        background-color: #35c2ec;
        height: 53px;
        padding-top: 10px;
    }
    .cleaner h4 {
        color: white;
        font-weight: 900;
        font-size: 10px;
        line-height: 18px;
    }
    .cleaners h5 {
        font-size: 25px;
        font-weight: bold;
        margin-left: none !important; 
    }

    i.fa.fa-star {
        position: relative;
        left: 7px;
        color: #fdd043;
    }
    p.eva {
        font-size: 11px;
        color: #626262;
        font-weight: 900;
        margin-left: 22px;
    }
    img.col-sm-2.p-5.p-sm-0.pr-sm-3 {
        margin: 0px !important; 
    }
    .media-body {
        width: 100%;
    }
    p.checks {
        font-size: 10px;
        font-weight: bold;
        color: #6f6f6e;
        margin-left: 21px;
    }
    i.fa.fa-check {
        display: inline-flex;
        position: relative;
        left: 10px;
        color: #35c2ec;
        font-size: 16px;
        top: 2px;
    }
    p.checks1 {
        font-size: 9px;
        font-weight: 300;
        color: #6f6f6e;
        margin-left: 19px;
    }
    .btns-ones {
        margin-left: 18px;
    }
    button.btn1 {
        width: 134px;
        height: 38px;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #ffffff;
        background: #35c2ec;
        font-size: 12px;
        font-weight: bold;
    }
    button.btn2.btn-default {
        width: 138px;
        height: 41px;
        outline: none;
        border: none;
        color: white;
        background: #35c2ec;
        font-size: 13px;
        font-weight: bold;
        border-radius: 5px;
        margin-left: -2px;
        margin-top: 10px;
    }
   
    .portls:before{
        display: none;
    }
    caption {
        background: white;
        height: 3em;
        line-height: 3em;
        font-size: 17px !important;
        padding: 12px 20px;
        /* box-shadow: 3px 0 2px black; */
        color: #060606;
    }

    button.btn11 {
        width: 127px;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #ffffff;
        background: #35c2ec;
        font-size: 12px;
        font-weight: bold;
        margin-right: 13px;
    }
    button.btn21.btn-default {
        width: 260px;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #ffffff;
        background: #35c2ec;
        font-size: 12px;
        font-weight: bold;
    }
}
